@import url(https://db.onlinewebfonts.com/c/c352028deedbafe44d35574c0214fedf?family=HM+Sans+Latin+SemiBold);
@import url(https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular);
*{
    font-family: "HM Sans Regular";
    
}
#screennav{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    
}
#bg{
    background-color: #faf9f8;
}
#nav{
    width: 99.9%;
    height: 170px;
     border: 1px solid #faf9f8;
}
#nav1{
    height: fit-content;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    font-family: "HM Sans Regular";
    font-size: 13px;
}
#navdiv1{
    font-size: 13px;
    font-family: "HM Sans Regular";
    width: fit-content;

}
#ul1{
    display: flex;
    align-items: center;
    box-sizing: inherit;
    list-style: none;
    /* border: 1px solid red; */
    margin-left: -10px;
    margin-top: 3px;
    font-family: "HM Sans Regular";
    font-size: 13px;
}

#ul1 li{
    display: inline-block;
    margin-right: 16px;
    font-family: "HM Sans Regular";
    font-size: 13px;
    cursor: pointer;
    
}
#signinb{
    background-color: white;
    font-family: "HM Sans Regular";
    font-size: 13px;
    border: none;
    margin-right: 5px;
    height: 1px;
    display: flex;
    

}
#fav{
    background-color: white;
    font-family: "HM Sans Regular";
    font-size: 13px;
    border: none;
    margin-right: 5px;
    height: 1px;
    
    
}
#bag{
    background-color: white;
    font-family: "HM Sans Regular";
    font-size: 13px;
    border: none;
    margin-right: 5px;
    height: 1px;
    
    
}
#buttonnav{
    /* border: 1px solid red; */
    width: 400px;
    margin-top: 3px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
   

}
#id1{
    margin-right: 5px;
}
#logo{
    /* border: 1px solid red; */
    height: 45px;
    width: 60px;
    margin-left: 30px;
    cursor: pointer;
 
}
#logoimg{
    width: 100%;
    height: 100%;
}
#sections{
    /* border: 1px solid red; */
    margin-top: 42px;
    height: 30px;
    width: 75%;
    margin-left: 25.4%;
    display: flex;


}
#catul{
    display: flex;
    align-items: center;
    box-sizing: inherit;
    list-style: none;
    /* border: 1px solid red; */
    margin-left: -40px;
    margin-top: 0px;
    height: 30px;
    font-family: "HM Sans Regular";
    font-size: 16px;
    cursor: pointer;
    
}
#catul li{
    margin-right: 32px;
}
#search{
    /* border: 1px solid red; */
    width: 200px;
    height: 30px;
    margin-left: 140px;
    margin-top: -5px;
    background-color: #faf9f8;
}
#line{
    border: 1px solid black;
    width: 200px;
    /* margin-top: -10px; */
    margin-left: 00px;
    background-color: #faf9f8;
}
#linein{
    border: none;
    background-color: #faf9f8;
    margin-left: 20px;
    margin-top: -20px;
    font-size: 16px;
    width: 150px;
    color: black;
    outline: none;

    
   
}
#linediv{
margin-top: -10px;
margin-left: -20px;


}
#sicon{
    height: 10px;
    width: 10px;
    margin-top: 2px

}
#nameh4{
    margin-top: -1px;
    margin-right: 10px;
}
#userr{
    margin-right:15px ;
    margin-top: 7px;
}
